/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';


.left-side{
  background-color: rgba(255, 0, 0, 0.404);

}

.right-side{
  background-color: rgba(0, 128, 0, 0.356);

}

.btn{
  width: 120px;
  transition: 0.5s;
}
.btn:hover{
  transform: scale(1.05);
}


